<link rel="stylesheet" href="/css/prestamo/inicio.css">
<main class="prin">
    <div >
        <div id="ttl">
            <h5>
                Banco El Amigo
            </h5>
        </div>
        <nav class="main">
            <ul id="menu">
                <li>
                    <a href="">Menu</a>
                <ul>
                    <li><a href="">Realizar Prestamo</a></li>
                    <li><a href="">Ver Prestamo</a></li>
                    <li><a href="">«Pigs (Three Different Ones)»</a></li>
                </ul>
                </li>
            {{!--     
                <li><a href="">The wall</a>
                <ul>
                    <li><a href="">«In The Flesh?»</a></li>
                    <li><a href="">«The Thin Ice»</a></li>
                    <li><a href="">«Another Brick In The Wall (Part 1)»</a></li>
                    <li><a href="">«The Happiest Days Of Our Lives»</a></li>
                </ul>
                </li> --}}
            </ul>
        </nav>
    </div>
</main>