<link rel="stylesheet" href="/css/prestamo/inicio.css">
<main class="prin">
{{> menpres}}
    <h3>Realizar Prestamo</h3>
    <p><i>*Nota</i> Llene los datos correctamente, despues click en el boton CALCULAR</p>

<div class="container">
    <div class="row">
        <div class="col-md-5">
                <div class="Formulario">
                    <form class="row" action="/prestamos-crear" method="POST">
                        <div class="col-md-12">
                        <label class="form-label">Nombre Completo: </label>
                        <input type="text" name="nombre" class="form-control">
                        </div>
                        <div class="col-md-6">
                        <label class="form-label">Cantidad a Prestar: </label>
                        <input type="number" id="capital" name="cantidad" class="form-control">
                        </div>
                        <div class="col-md-6">
                        <label class="form-label">Tiempo a Prestar</label>
                        <input type="number" name="tiempo" id="couta" class="form-control">
                        </div>
                        <div class="col-md-6">
                        <label class="form-label">Direccion</label>
                        <input type="text" class="form-control">
                        </div>
                        <div class="col-md-4">
                        <label class="form-label">Estado</label>
                        <select name="" id="" class="form-select">
                            <option value="">Debe</option>
                            <option value="">Debe</option>
                            <option value="">Debe</option>
                            <option value="">Debe</option>
                        </select>
                        </div>
                        <div class="col-md-2">
                        <label class="form-label">Interes</label>
                        <input type="text" id="interes" name="interes" class="form-control">
                        </div>
                        {{!-- <div class="col-md-6">
                        <label class="form-label">Upload Domicile</label>
                        <input type="file" class="form-control">
                        </div> --}}
                        {{!-- <div class="col-md-6">
                        <label class="form-label">Gender</label>
                        <br>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" name="rdo" checked>
                            <label class="form-check-label">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" name="rdo">
                            <label class="form-check-label">Female</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" name="rdo">
                            <label class="form-check-label">Other</label>
                        </div>
                        </div> --}}
                        <div class="col-md-12">
                        <br>
                        <button class="btn btn-primary form-control">Agregar</button>
                        </div>
                    </form>
            </div>

        </div>


        <div class="col-md-7">
             <div class="tabla">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>NRO</td>
                            <td>CAPITAL</td>
                            <td>INTERES</td>
                            <td>IMPORTE A PAGAR</td>
                        </tr>
                    </thead>
                    <tbody id="tab">
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="ft">TOTAL</td>
                            <td id="t1"></td>
                            <td id="t2"></td>
                            <td id="t3"></td>
                        </tr>
                    </tfoot>
        
                </table>
            </div>
            <button class="btn btn-primary" onclick="gen_table();">CALCULAR</button>
        </div>
    </div>
</div>

</main>

<script src="/js/prestamo.js"></script>