<link rel="stylesheet" href="/css/prestamo/inicio.css">
<main class="prin">
{{> menpres}}


    

   


<div class="container">
    <div class="row">
        <div class="col-md-5">
                <div class="Formulario">
                    <form class="row">
                        <div class="col-md-12">
                        <label class="form-label">Nombre Completo: </label>
                        <input type="text" class="form-control">
                        </div>
                        <div class="col-md-6">
                        <label class="form-label">Cantidad a Prestar: </label>
                        <input type="text" class="form-control">
                        </div>
                        <div class="col-md-6">
                        <label class="form-label">Tiempo a Prestar</label>
                        <input type="text" class="form-control">
                        </div>
                        <div class="col-md-6">
                        <label class="form-label">Direccion</label>
                        <input type="email" class="form-control">
                        </div>
                        <div class="col-md-4">
                        <label class="form-label">Estado</label>
                        <select name="" id="" class="form-select">
                            <option value="">Debe</option>
                            <option value="">Debe</option>
                            <option value="">Debe</option>
                            <option value="">Debe</option>
                        </select>
                        </div>
                        <div class="col-md-2">
                        <label class="form-label">Año</label>
                        <input type="text" class="form-control">
                        </div>
                        {{!-- <div class="col-md-6">
                        <label class="form-label">Upload Domicile</label>
                        <input type="file" class="form-control">
                        </div> --}}
                        {{!-- <div class="col-md-6">
                        <label class="form-label">Gender</label>
                        <br>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" name="rdo" checked>
                            <label class="form-check-label">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" name="rdo">
                            <label class="form-check-label">Female</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" name="rdo">
                            <label class="form-check-label">Other</label>
                        </div>
                        </div> --}}
                        <div class="col-md-12">
                        <br>
                        <button class="btn btn-primary form-control">Submit</button>
                        </div>
                    </form>
            </div>

        </div>


        <div class="col-md-7">
             <div class="tabla">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Casa</th>
                            <th>Casa</th>
                            <th>casa</th>
                            <th>accion</th>
                            <th>accion</th>
                            <th>accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Casa</td>
                            <td>Casa</td>
                            <td>accion</td>
                            <td>accion</td>
                            <td>accion</td>
                            <td>
                                {{!-- <button type="button" class="btn btn-danger"><i class="bi bi-trash-fill"></i> Danger</button>
                                <button type="button" class="btn btn-success">Success</button> --}}
                                    <a id="red" href="" title="Elimanar"><i class="bi bi-trash-fill"></i></a>
                                    <a id="green" href="" title="Editar"><i class="bi bi-pencil-square" ></i></a>
                            </td>
                        </tr>
                      
                    </tbody>
        
                </table>
            </div>
            
        </div>
    </div>
</div>

</main>