<link rel="stylesheet" href="/css/prestamo/inicio.css">
<main class="prin">
{{> menpres}}
{{#if condition}}
<h3> prestamo realizados</h3>

{{else}}
<h3>Ningun prestamo</h3>
   
    
{{/if}}




</main>